<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.基本列表</title>
    <!-- 引入Vue -->
    <script text="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        v-for指令:
        1.用于展示列表数据
        2.语法：v-for="(item, index) in xxx" :key="yyy"
        3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
    -->
    <!-- 准备一个容器 -->
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(item, index) in persons2" :key="index">
                {{index}}-{{item.name}}-{{item.age}}-{{item.sex}}
            </li>
        </ul>

    </div>
    <script type="text/javascript">
        // 用computed实现
        const vm = new Vue({
            el: '#root',
            data: {
                persons: [
                    { id: '001', name: '马冬梅', age: 18, sex: '女' },
                    { id: '002', name: '周冬雨', age: 19, sex: '女' },
                    { id: '003', name: '周杰伦', age: 20, sex: '男' },
                    { id: '004', name: '温兆伦', age: 22, sex: '男' },
                ],
                keyWord: ''
            },
            computed: {
                persons2() {
                    return this.persons.filter(p => {
                        return p.name.includes(this.keyWord)
                    })
                }
            }
        })
        // 用watch实现
        // const vm = new Vue({
        //     el: '#root',
        //     data: {
        //         persons: [
        //             { id: '001', name: '马冬梅', age: 18, sex: '女' },
        //             { id: '002', name: '周冬雨', age: 19, sex: '女' },
        //             { id: '003', name: '周杰伦', age: 20, sex: '男' },
        //             { id: '003', name: '温兆伦', age: 20, sex: '男' },
        //         ],
        //         persons2: [],
        //         keyWord: ''
        //     },
        //     watch: {
        //         keyWord: {
        //             immediate: true,
        //             handler(newVal, oldVal) {
        //                 // console.log(newVal);
        //                 this.persons2 = this.persons.filter(p => {
        //                     // console.log(p.name, newVal, p.name.includes(newVal));
        //                     return p.name.includes(newVal)
        //                 })
        //                 // console.log(this.persons2);
        //             }
        //         }
        //     }
        // })       
    </script>
</body>

</html>