/*CSS初始化样式 */
* {
	margin: 0; /*清除内外边距*/
	padding: 0;
}
ul {
	list-style: none; /*去掉列表样式*/
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1; /*IE6/7 兼容*/
}
a {
	color: #050505;
	text-decoration: none; /*取消下划线*/
}
input {
	border: 0; /*所有的表单边框为0*/
	box-sizing: border-box; /*CSS盒子模型 border 和 padding 都包含到 width 里面去*/
}
.container{  /*版心宽度都是1200，都要居中对齐，我们声明一个公共类*/
	width: 1200px;
	margin: 0 auto;
}
/*CSS初始化结束*/

body {
	background-color: #f3f5f7; /*整个页面背景色*/
}
/*页面头部分*/
header {
	height: 100px;
	/*background-color: pink;*/
	overflow: hidden; /*防止外边距合并的问题*/
}
nav {
	width: 1366px;
	height: 42px;
	/*background-color: purple;*/
	margin: 26px auto;
}
.logo {
	float: left;
}
.navbar {
	float: left;
	height: 42px;
	line-height: 42px; /*行高可以继承*/
	margin-left: 50px;
}
.navbar li{
	float: left;  /*让 首页、课程、职业规划 一行显示*/
	margin: 0 6px;
}
.navbar li a {
	padding: 0 8px;
	display: block; /*a是行内元素 转化为块级元素*/
	height: 42px;
}
.navbar li a:hover {
	border-bottom: 2px solid #00a4ff; /*鼠标放上去显示*/
}
/*搜索框部分*/
.search {
	width: 410px; /*360+50*/
	height: 38px;
	border: 1px solid #00a4ff;
	float: right;
}
.search input[type=text] { /*属性选择器*/
	width: 360px;
	height: 38px;
	padding-left: 20px;
	float: left;
}
.search input[type=submit] { /*属性选择器*/
	width: 50px;
	height: 38px;
	float: left;
	background: #00a4ff url(../images/search.png) center center no-repeat;
	background-size: 30px 30px;
}
/*搜索框部分结束*/
/*个人中心部分开始*/
.personal {
	float: right;
	height: 42px;
	line-height: 42px;
	margin: 0 15px 0 35px;
}
.personal a{
	margin: 0 10px;
	float: left;
	display: inline-block;
	height: 42px;
}
.personal a span{
	margin-left: 10px;
	height: 42px;
	display: inline-block;
	float: right;
}
.personal img {
	vertical-align: middle; /*文字图片默认基线对齐*/
}
/*个人中心部分结束*/

/*banner开始*/
.banner {
	height: 450px;
	/*background-color: #1c036c;*/
	background:  url('../images/banner.png') center center no-repeat;
}
.banner-in {
	/*background-color: pink;*/
		
	height: 100%;
	position: relative;
}
.sliderbar {
	height: 450px;
	width: 190px;
	background: rgba(0, 0, 0, 0.3); /*盒子背景半透明*/
	float: left;
}
.sliderbar li a {
	color: #fff;
	font-size: 14px;
	padding: 0 20px;
	/*a是行内元素，没有大小需要转换*/
	display: block;
	line-height: 45px; /*单行垂直居中 个人经验，很多情况下，有了行高可以不用给高度*/
}
.sliderbar li a:hover {
	color: #;
}
.sliderbar a span {
	float: right;
	font-family: arial; /*一般情况 符号使用这个字体*/
}
.timetable {
	float: right;
	width: 230px;
	height: 300px;
	background-color: #fff;
	margin-top: 50px;
}
.timetable dt {
	height: 50px;
	background-color: #9bceea;
	text-align: center;/*文字水平居中*/
	line-height: 50px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px; /*设置字间距*/
	margin-bottom: 5px;
}
.timetable dd {
	width: 190px;
	height: 60px;
	/*background-color: purple ;*/
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-top: 12px;
	box-sizing: border-box;
}
.timetable dd:last-child { /*结构伪类选择器，选最后一个孩子*/
	border: 0;
}
.timetable dd h4 {
	font-size: 16px;
	font-weight: normal;
	color: #4e4e4e;
}
.timetable dd p {
	font-size: 14px;
	color: #a5a5a5;
}
.timetable dd a {
	height: 38px;
	border: 1px solid #00a4ff;
	display: block;
	text-align: center;
	line-height: 38px;
	color: #00a4ff;
	font-weight: 700;  /*文字加粗700 不要加单位*/
}
.timetable dd a:hover {
	background-color: #00a4ff;
	color: #fff;
}

/*小圆点模块*/
.circle{
	height: 22px;
	width: 180px;
	/*background-color: pink;*/
	position: absolute;
	bottom: 10px;
	left: 50%;/*父盒子宽度的一半*/
	margin-left: -90px;
}
.circle li {
	float: left;
	height: 12px;
	width: 12px;
	background: rgba(255, 255, 255, 0.4);
	margin: 6px 8px;
	border-radius: 6px;
}
.circle .current {
	width: 20px;
	background-color: #fff;
}
/*banner结束*/

/*精品推荐 start*/
.recommend {
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	margin-top: 8px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
/*盒子阴影 ： 水平距离 垂直距离 模糊距离 影子颜色*/
}
.recommend a {
	padding: 0 30px;
	border-right: 1px solid #ccc;
}
.recommend a:hover {
	color: #00a4ff;
}
.recommend a:first-child {
	color: #00a4ff;
}
.recommend a:last-child {
	color: #00a4ff;
	border: 0;
	float: right;
	font-size: 14px;
}
/*精品推荐 end*/


/*精品推荐产品模块 start*/
.recom-products {
	/*height: 800px;*/
}
.recom-hd {
	height: 60px;
	/*background: pink;*/
	line-height: 60px;
}
.recom-hd h4 {
	float: left;
	margin-left: 30px;
	color: #494949;
}
.recom-hd a {
	float: right;
	color: #a5a5a5;
	font-size: 14px;
	margin-right: 30px;
}
.recom-hd a:hover {
	color: #00a4ff;
}
.recom-bd ul li {
	width: 228px;
	height: 270px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.recom-bd ul li:nth-child(5n) { /*5n n从0开始，5n就是5的倍数*/
	margin-right: 0;
}
.recom-bd li img {
	height: 160px;
}

.recom-bd li h5,
.recom-bd li p {
	padding: 0 20px 0 24px;
	margin-top: 12px;
}
.recom-bd li h5 {
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
}
.recom-bd li p {
	font-size: 12px;
	color: #999;
}
.recom-bd p span {
	color: #ff7c2d;
}


/*页面底部 start*/
footer {
	/*background-color: pink;*/
	height: 270px;
	margin-top: 100px;
}
.footer-in {
	padding-top: 30px;
}
.footer-l {
	float: left;
}

.footer-l p {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	margin-top: 20px;
}
.footer-l a {
	display: block;
	width: 118px;
	height: 33px;
	border: 1px solid #00a4ff;
	line-height: 33px;
	font-size: 16px;
	color: #00a4ff;
	text-align: center;
	margin-top: 15px;
}
.footer-r {
	float: right;
	color: #333;
}
.footer-r dl {
	float: left;
	width: 225px;
}
.footer-r dt {
	font-size: 16px;
	height: 30px;

}
.footer-r dd {
	font-size: 12px;
	height: 20px;
}
.footer-r dd a:hover {
	color: #00a4ff;
	text-decoration: underline;
}