/*reset css 重置样式*/
*,
::before,
::after {
	/*选中所有的元素 和伪元素*/
	margin: 0;
	padding: 0;
	/*正对移动端*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /*主流移动端浏览器兼容*/
	/*点击高亮效果 清除*/
	-webkit-tap-highlight-color: transparent;
}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0;
}
input, button {
	border: 0;
	outline: none; /*取消轮廓边框*/
}
img {
	/*display: block;*/
	vertical-align: top; /*解决图片底部有空白缝隙的问题*/
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;/*边框合并*/
	border-spacing: 0;/*边框间距为0*/
}
em,
strong,
b,
u,
i{
	font-style: normal;
	font-weight: normal;
}

body {
	background-color: #fff;
}

/*commom css 公用样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1; /*IE6/7 兼容*/
}