<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- :key="item.name" 提高效率 -->
            <li v-for="(item, index) in users" :key="item.name">
                {{index}} ==> {{item.name}} ==> {{item.age}}
                ||||||||||||| 
                <span v-for="(v,k, i) in item">{{i}}、{{k}} == {{v}}; </span>
            </li>
        </ul>
    </div>

    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                users: [{name:"张三", age:15},{name:"张四", age:16}]
            }
        });
    </script>
</body>
</html>